.services{
    background-color: black;
    color:white;
    height: 100vh;
}
.services img{
    width: 100px;
}
.service{
    height: 450px;
}

hr{
    height: 5px;
    background-image: -webkit-linear-gradient(left,black,white,white,black);
}

.myservicesText{
    text-align: center;
}
.myservicesText span{
    color:rgb(211,23,111) !important
}
.serviceIcon span{
    color:rgb(211,23,111) !important
}
.serviceIcon{
    color:rgb(211,23,111) !important
}

.card{
    height: 470px;
    transition: 1s;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.card-body a{
    color: white;
    background-color: rgb(211,21,111);
}
.card-body a:hover{
    background-color: transparent;
    border:1px solid rgb(211,23,111);
}




@media only screen and (max-width:1000px) {
    .services{
      height: 188vh;
    }
  }